name: Deploy
on:
  push:
    branches:
      - main
      - demo

env:
  DOCKER_TAG: deploy-run-${{ github.run_number }}

jobs:
  prebuild:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: "actions/checkout@v4"
      - uses: ./.github/actions/services-matrix
        id: "matrix"

  build-dev:
    needs: prebuild
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.prebuild.outputs.matrix) }}
    steps:
      - uses: "actions/checkout@v4"
      - name: "Configure env variables"
        run: |
          project="${{ vars.PROJECT_PREFIX_DEV }}-${{ vars.PROJECT_UID_DEV }}-dev"
          registry="us-docker.pkg.dev/$project/registry"
          echo "project=$project" >> $GITHUB_ENV
          echo "registry=$registry" >> $GITHUB_ENV
      - uses: ./.github/actions/build-docker-container
        with:
          google_cloud_token: ${{ secrets.GOOGLE_CLOUD_TOKEN_DEV }}
          sentry_token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          turborepo_cache_bucket: ${{ vars.PROJECT_TURBOREPO_BUCKET_DEV }}
          registry: ${{ env.registry }}
          service: ${{ matrix.service }}
          with_puppeteer: ${{ matrix.with_puppeteer }}
          dockerfile: ${{ matrix.dockerfile }}
          tag: ${{ env.DOCKER_TAG }}

  deploy-dev:
    needs: build-dev
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"

      - uses: ./.github/actions/setup-google-cloud-auth
        id: "auth"
        with:
          google_cloud_token: ${{ secrets.GOOGLE_CLOUD_TOKEN_DEV }}

      - uses: ./.github/actions/terraform-apply
        with:
          environment: "dev"
          terraform-bucket: ${{ vars.PROJECT_TF_STATE_BUCKET_DEV }}
          region: ${{ vars.PROJECT_REGION_DEV }}
          project-uid: ${{ vars.PROJECT_UID_DEV }}
          prefix: ${{ vars.PROJECT_PREFIX_DEV }}
          docker-tag: ${{ env.DOCKER_TAG }}

  build-demo:
    needs: prebuild
    if: ${{ github.ref == 'refs/heads/demo' }}
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.prebuild.outputs.matrix) }}
    steps:
      - uses: "actions/checkout@v4"
      - name: "Configure env variables"
        run: |
          project="${{ vars.PROJECT_PREFIX_DEMO }}-${{ vars.PROJECT_UID_DEMO }}-demo"
          registry="us-docker.pkg.dev/$project/registry"
          echo "project=$project" >> $GITHUB_ENV
          echo "registry=$registry" >> $GITHUB_ENV
      - uses: ./.github/actions/build-docker-container
        with:
          google_cloud_token: ${{ secrets.GOOGLE_CLOUD_TOKEN_DEMO }}
          sentry_token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          turborepo_cache_bucket: ${{ vars.PROJECT_TURBOREPO_BUCKET_DEMO }}
          registry: ${{ env.registry }}
          service: ${{ matrix.service }}
          with_puppeteer: ${{ matrix.with_puppeteer }}
          dockerfile: ${{ matrix.dockerfile }}
          tag: ${{ env.DOCKER_TAG }}

  deploy-demo:
    needs: build-demo
    if: ${{ github.ref == 'refs/heads/demo' }}
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"

      - uses: ./.github/actions/setup-google-cloud-auth
        id: "auth"
        with:
          google_cloud_token: ${{ secrets.GOOGLE_CLOUD_TOKEN_DEMO }}

      - uses: ./.github/actions/terraform-apply
        with:
          environment: "demo"
          terraform-bucket: ${{ vars.PROJECT_TF_STATE_BUCKET_DEMO }}
          region: ${{ vars.PROJECT_REGION_DEMO }}
          project-uid: ${{ vars.PROJECT_UID_DEMO }}
          prefix: ${{ vars.PROJECT_PREFIX_DEMO }}
          docker-tag: ${{ env.DOCKER_TAG }}

  build-staging:
    needs: prebuild
    if: ${{ github.ref == 'refs/heads/staging' }}
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.prebuild.outputs.matrix) }}
    steps:
      - uses: "actions/checkout@v4"
      - name: "Configure env variables"
        run: |
          project="${{ vars.PROJECT_PREFIX }}-${{ vars.PROJECT_UID }}-staging"
          registry="us-docker.pkg.dev/$project/registry"
          echo "project=$project" >> $GITHUB_ENV
          echo "registry=$registry" >> $GITHUB_ENV
      - uses: ./.github/actions/build-docker-container
        with:
          google_cloud_token: ${{ secrets.GOOGLE_CLOUD_TOKEN_STAGING }}
          sentry_token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          turborepo_cache_bucket: ${{ vars.PROJECT_TURBOREPO_BUCKET_STAGING }}
          registry: ${{ env.registry }}
          service: ${{ matrix.service }}
          with_puppeteer: ${{ matrix.with_puppeteer }}
          dockerfile: ${{ matrix.dockerfile }}
          tag: ${{ env.DOCKER_TAG }}

  deploy-staging:
    needs: build-staging
    if: ${{ github.ref == 'refs/heads/staging' }}
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"

      - uses: ./.github/actions/setup-google-cloud-auth
        id: "auth"
        with:
          google_cloud_token: ${{ secrets.GOOGLE_CLOUD_TOKEN_STAGING }}

      - uses: ./.github/actions/terraform-apply
        with:
          environment: "staging"
          terraform-bucket: ${{ vars.PROJECT_TF_STATE_BUCKET_STAGING }}
          region: ${{ vars.PROJECT_REGION }}
          project-uid: ${{ vars.PROJECT_UID }}
          prefix: ${{ vars.PROJECT_PREFIX }}
          docker-tag: ${{ env.DOCKER_TAG }}

  build-production:
    needs: prebuild
    if: ${{ github.ref == 'refs/heads/production' }}
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.prebuild.outputs.matrix) }}
    steps:
      - uses: "actions/checkout@v4"
      - name: "Configure env variables"
        run: |
          project="${{ vars.PROJECT_PREFIX }}-${{ vars.PROJECTUID }}-production"
          registry="us-docker.pkg.dev/$project/registry"
          echo "project=$project" >> $GITHUB_ENV
          echo "registry=$registry" >> $GITHUB_ENV
      - uses: ./.github/actions/build-docker-container
        with:
          google_cloud_token: ${{ secrets.GOOGLE_CLOUD_TOKEN_PRODUCTION }}
          sentry_token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          turborepo_cache_bucket: ${{ vars.PROJECT_TURBOREPO_BUCKET_PRODUCTION }}
          registry: ${{ env.registry }}
          service: ${{ matrix.service }}
          with_puppeteer: ${{ matrix.with_puppeteer }}
          dockerfile: ${{ matrix.dockerfile }}
          tag: ${{ env.DOCKER_TAG }}

  deploy-production:
    needs: build-production
    if: ${{ github.ref == 'refs/heads/production' }}
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"

      - uses: ./.github/actions/setup-google-cloud-auth
        id: "auth"
        with:
          google_cloud_token: ${{ secrets.GOOGLE_CLOUD_TOKEN_PRODUCTION }}

      - uses: ./.github/actions/terraform-apply
        with:
          environment: "production"
          terraform-bucket: ${{ vars.PROJECT_TF_STATE_BUCKET_PRODUCTION }}
          region: ${{ vars.PROJECT_REGION }}
          project-uid: ${{ vars.PROJECT_UID }}
          prefix: ${{ vars.PROJECT_PREFIX }}
          docker-tag: ${{ env.DOCKER_TAG }}
